* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}
form input[type="text"],
textarea {
  border: none;
  outline: none;
  background-color: white;
}
form textarea {
  resize: none;
}
